:root {
  background: linear-gradient(to bottom, pink, purple);
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* nav bar */

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  height: 10vh;
  padding-left: 10px;
}

/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown button */
.dropdown-toggle {
  background: none;
  padding: 20px;
  width: 50px;     
  height: 50px;     
  border: none;
  cursor: pointer;
  display: flex;  
  align-items: center;
  justify-content: center;
  font-size: 16px;  
}

.dumbbell {
  height: 60px;
  width: 60px;
  transform: rotate(-45deg); 
  transform-origin: center;
  margin: 40px;
}

/* add meal */

.add-meal-nav {
  margin-left: auto;
}

.add-meal-btn {
  position: absolute;
  right: 20px;
  top: 3px;
  font-size: 55px;
  font-weight: bolder;
  background:none;
  color: #605d5c;;
  border: none;
  cursor: pointer;
}


/* Modal */

.modal-overlay {
  position: fixed;  /* Cover the entire screen */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;  /* Make sure it stays on top */
}

.modal-content {
  background: rgba(216, 212, 212, 0.453);
  width: 300px;
  height: 350px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  text-align: center;
}

.modal-content input {
  display: block;
  margin: 0 auto;
  height: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
  width: 80%;
}

.modal-content label {
  display: flex;
  margin: 10px 5px;
  text-align: left;
  justify-content: center;
  font-size: 18px;
}

.modal-save-btn {
  margin-top: 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 18px; 
  width: 40%;
  border: none;
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 18px; 
  border: none;
  cursor: pointer;
  background-color: rgb(233, 155, 155);
  color: white;
}

/* goals tracker */

.goals-tracker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  height: 100vh;
}

.goals-tracker ul {
  background: rgba(216, 212, 212, 0.453);
  border-radius: 8px;
}

.goals-tracker li {
  list-style: none;
  margin: 10px;
  padding: 10px;
  width: 80%;
}